@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />
<p>Learning everything about Razor pages</p>

<p>@ViewData["Email"]</p>
<address>
    <strong>
        More information:
    </strong>
    <a href="http://github.com/Mizitoh">Git Mike</a>
</address>
